<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ArrangementMapper">
  <resultMap id="BaseResultMap" type="com.model.Arrangement">
    <!--@mbg.generated -->
    <!--@Table Arrangement -->
    <!-- generated on Sat Oct 09 12:04:25 CST 2021 -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ScreenID" jdbcType="INTEGER" property="screenID" />
    <result column="MovieID" jdbcType="INTEGER" property="movieID" />
    <result column="StartTime" jdbcType="VARCHAR" property="startTime" />
    <result column="EndTime" jdbcType="VARCHAR" property="endTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated -->
    ID, ScreenID, MovieID, StartTime, EndTime
  </sql>
  <select id="selectByExample" parameterType="com.model.ArrangementExample" resultMap="BaseResultMap">
    <!--@mbg.generated -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Arrangement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated -->
    select 
    <include refid="Base_Column_List" />
    from Arrangement
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated -->
    delete from Arrangement
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.model.ArrangementExample">
    <!--@mbg.generated -->
    delete from Arrangement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.model.Arrangement">
    <!--@mbg.generated -->
    insert into Arrangement (ID, ScreenID, MovieID, 
      StartTime, EndTime)
    values (#{id,jdbcType=INTEGER}, #{screenID,jdbcType=INTEGER}, #{movieID,jdbcType=INTEGER}, 
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.Arrangement">
    <!--@mbg.generated -->
    insert into Arrangement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="screenID != null">
        ScreenID,
      </if>
      <if test="movieID != null">
        MovieID,
      </if>
      <if test="startTime != null">
        StartTime,
      </if>
      <if test="endTime != null">
        EndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="screenID != null">
        #{screenID,jdbcType=INTEGER},
      </if>
      <if test="movieID != null">
        #{movieID,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.model.ArrangementExample" resultType="java.lang.Long">
    <!--@mbg.generated -->
    select count(*) from Arrangement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated -->
    update Arrangement
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.screenID != null">
        ScreenID = #{record.screenID,jdbcType=INTEGER},
      </if>
      <if test="record.movieID != null">
        MovieID = #{record.movieID,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null">
        StartTime = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null">
        EndTime = #{record.endTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated -->
    update Arrangement
    set ID = #{record.id,jdbcType=INTEGER},
      ScreenID = #{record.screenID,jdbcType=INTEGER},
      MovieID = #{record.movieID,jdbcType=INTEGER},
      StartTime = #{record.startTime,jdbcType=VARCHAR},
      EndTime = #{record.endTime,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.Arrangement">
    <!--@mbg.generated -->
    update Arrangement
    <set>
      <if test="screenID != null">
        ScreenID = #{screenID,jdbcType=INTEGER},
      </if>
      <if test="movieID != null">
        MovieID = #{movieID,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        StartTime = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        EndTime = #{endTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Arrangement">
    <!--@mbg.generated -->
    update Arrangement
    set ScreenID = #{screenID,jdbcType=INTEGER},
      MovieID = #{movieID,jdbcType=INTEGER},
      StartTime = #{startTime,jdbcType=VARCHAR},
      EndTime = #{endTime,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>