<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.model.Order">
    <!--@mbg.generated -->
    <!--@Table Order -->
    <!-- generated on Fri Oct 01 19:52:33 CST 2021 -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OwnerID" jdbcType="INTEGER" property="ownerID" />
    <result column="CreateAt" jdbcType="VARCHAR" property="createAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated -->
    ID, OwnerID, CreateAt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated -->
    select 
    <include refid="Base_Column_List" />
    from Order
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated -->
    delete from Order
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.Order">
    <!--@mbg.generated -->
    insert into Order (ID, OwnerID, CreateAt
      )
    values (#{id,jdbcType=INTEGER}, #{ownerID,jdbcType=INTEGER}, #{createAt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.Order">
    <!--@mbg.generated -->
    insert into Order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ownerID != null">
        OwnerID,
      </if>
      <if test="createAt != null">
        CreateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ownerID != null">
        #{ownerID,jdbcType=INTEGER},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.Order">
    <!--@mbg.generated -->
    update Order
    <set>
      <if test="ownerID != null">
        OwnerID = #{ownerID,jdbcType=INTEGER},
      </if>
      <if test="createAt != null">
        CreateAt = #{createAt,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Order">
    <!--@mbg.generated -->
    update Order
    set OwnerID = #{ownerID,jdbcType=INTEGER},
      CreateAt = #{createAt,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>