<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TicketMapper">
  <resultMap id="BaseResultMap" type="com.model.Ticket">
    <!--@mbg.generated -->
    <!--@Table Ticket -->
    <!-- generated on Fri Oct 01 20:03:49 CST 2021 -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OrderID" jdbcType="INTEGER" property="orderID" />
    <result column="CustomerID" jdbcType="INTEGER" property="customerID" />
    <result column="ArrangementID" jdbcType="INTEGER" property="arrangementID" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated -->
    ID, OrderID, CustomerID, ArrangementID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated -->
    select 
    <include refid="Base_Column_List" />
    from Ticket
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated -->
    delete from Ticket
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.Ticket">
    <!--@mbg.generated -->
    insert into Ticket (ID, OrderID, CustomerID, 
      ArrangementID)
    values (#{id,jdbcType=INTEGER}, #{orderID,jdbcType=INTEGER}, #{customerID,jdbcType=INTEGER}, 
      #{arrangementID,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.model.Ticket">
    <!--@mbg.generated -->
    insert into Ticket
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderID != null">
        OrderID,
      </if>
      <if test="customerID != null">
        CustomerID,
      </if>
      <if test="arrangementID != null">
        ArrangementID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderID != null">
        #{orderID,jdbcType=INTEGER},
      </if>
      <if test="customerID != null">
        #{customerID,jdbcType=INTEGER},
      </if>
      <if test="arrangementID != null">
        #{arrangementID,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.Ticket">
    <!--@mbg.generated -->
    update Ticket
    <set>
      <if test="orderID != null">
        OrderID = #{orderID,jdbcType=INTEGER},
      </if>
      <if test="customerID != null">
        CustomerID = #{customerID,jdbcType=INTEGER},
      </if>
      <if test="arrangementID != null">
        ArrangementID = #{arrangementID,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Ticket">
    <!--@mbg.generated -->
    update Ticket
    set OrderID = #{orderID,jdbcType=INTEGER},
      CustomerID = #{customerID,jdbcType=INTEGER},
      ArrangementID = #{arrangementID,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>